@import url('https://fonts.googleapis.com/css?family=Oleo+Script');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


*{
    box-sizing:border-box;
}

body{
    padding-top: 10px;
}

.wrapper {
    width: 972px;
    background-color: #FAEBD7;
    margin: 0 auto;
}
p::selection{
   background: #ffe7b9;
    color: #ffbc45;}

p::-moz-selection{
    background: #ffe7b9;
    color: #ffbc45;
}

/* ================ HEADER ==================*/

nav {
    margin: 0 auto;
    width: 100%;
    background-color: white;
}

.logo {
    margin-left: 20px;
    font-size: 40px;
    font-family: 'Oleo Script', cursive;
    display: inline-block;
}

.tamplate {
    font-size: 11px;
    font-family: arial;
    color: gray;
    display: block;
    text-align: center;
}

.logo a {
    color: black;
}

.topmenu {
    margin-right: 40px;
    padding-left: 0;
    padding-top: 30px;
    list-style: none;
    float: right;
    text-align: center;
    font-size: 14px;
}

a {
    text-decoration: none;
    display: inline-block;
    color: gray;
}

li a {
    color: #666666;
    font-family: 'Open Sans', sans-serif;
}

.button_1 a {
    padding: 5px;
    background: #ffbc45;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}

.topmenu > li {
    display: inline-block;
    margin-right: 20px;
    margin-left: 25px;
    position: relative;
}

.submenu {
    position: absolute;
    border-radius: 3px;
    left: -50px;
    top: 18px;
    display: none;
    border: 1px solid #666666; 
    z-index: 10;
    background-color: white; 
    list-style: none;
    padding: 0;
    white-space: nowrap;
}
.submenu::before, .submenu::after {
    content: "";
    border: 10px solid transparent;
    border-top: 10px solid black;
    z-index: 30;
    position: relative;
    top: 9px;
    right: 40px;
}

.submenu::after{
    border-top: 10px solid white;
    z-index: 40;
    position: relative;
    top: -175px;
    right: 40px;
}

.submenu li {
    padding: 10px 0;
    line-height: 20px;
    border-bottom: 1px solid #666666;
    margin: 0 10px;
    text-align: left;

}

.submenu li:first-child {
    padding: 0px 0 10px 0;
    line-height: 20px;
    margin: 0 10px;
    border-bottom: 1px solid #666666;
    
}


.submenu li:last-child {
    padding: 10px 0 0 0;
    -line-height: 20px;
    margin: 0 10px;
    border-bottom: 1px solid white;
}

.submenu li a {
    color: gray;
    padding-right: 50px;
}

.submenu li  span{
    color: gray;
    font-size: 12px;
    text-align: justify; 
}

.topmenu li:hover .submenu {
    display: block;

}

.submenu li a:hover {
    background-color: lightgray;
}

/*  ==================  CONTENT_1 ======================== */
.hero-unit {
    background-color: white;
    position: relative;
    padding: 10px 0 50px 0;
    border-bottom: solid 1px gray;
    margin: 0 20px 0 20px;
}

.hero {
    background-color: #2e490c;
    width: 302px;
    height: 198px;
    margin-left: 74px;
    margin-top: 60px;

}

.hero h2 {
    position: relative;
    top: -180px;
    left: 380px;
    font-size: 38px;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    width: 500px; /* почему??*/
}

.abstract {
    position: relative;
    left: 380px;
    top: -210px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    width: 460px;
    padding-bottom: 20px;
    border-bottom: solid 1px gray;
}

.watch {
    position: relative;
    left: 670px;
    top: -220px;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding: 5px 0px 0px 10px;
    background-color: #ffbc45;
    width: 165px; /* ??????*/
    height: 43px;
    border-radius: 2px;
    color: white;
}

.watch span {
    text-transform: uppercase;
    color: #d28600;
    font-size: 10px;
    font-weight: bold;
    font-family: arial;
    position: relative;
    top: -10px;
    margin: 0px;
    padding-bottom: 0px;
}

i {
    position: relative;
    top: -275px;
    left: 810px;
    z-index: 20;
    color: white;
}

.watch::after {
    content: '|';
   z-index: 40;
   position: relative;
   top: -20px;
   left: 25px;
   color: gray;
}

/*  ==================  END CONTENT_1 ======================== */

/* ========================= CONTENT_2 / GALERY ========================*/

.galery{
    background-color: white;
}

.galery a {
    padding-left: 20px;
}

.galery a img:hover {
    opacity: 0.5;
}

.description {
    list-style: none;
    padding: 0;
    }
.description > li{
    display: inline-block;
    width: 30%;
    text-align: justify;
    margin-left: 20px;
}


/* ------------------TAB -----------------------*/

.tab{
    background-color: white;
}

#tab2, #tab3 {
    -position: fixed; 
}

.tab > a,
.tab #tab2:target ~ a:nth-of-type(1),
.tab #tab3:target ~ a:nth-of-type(1),
.tab > div { 
    padding: 5px;
    margin: 0;
    border-top: 1px solid #aaa;
    border-left: none;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    -border: 1px solid #aaa; 

}

.tab > a { 
    line-height: 28px;
    background: #fff; 
    text-decoration: none;
    margin-left: -4px;

    }

#tab2,
#tab3,
.tab > div,
.tab #tab2:target ~ div:nth-of-type(1),
.tab #tab3:target ~ div:nth-of-type(1) {
    display: none; }

.tab > div:nth-of-type(1),
.tab #tab2:target ~ div:nth-of-type(2),
.tab #tab3:target ~ div:nth-of-type(3) {
    
    display: block; 
    margin-top: -2px;
 }

.tab > a:nth-of-type(1),
.tab #tab2:target ~ a:nth-of-type(2),
.tab #tab3:target ~ a:nth-of-type(3) {
    border-bottom: 2px solid #fff; 
}


.tab_1 > ul{
   display: inline-block;
}
.tab_1 > p {
   border-bottom: 1px solid gray;
}


.tab_content_1 {
    display: inline-block;
    width: 150px;
    position: relative;
    margin-left: 100px;
}


.tab_content_2 {
    display: inline-block;
    width: 150px;
    position: relative;
    margin-left: 100px;
}


.tab_foto{
    position: relative;
    left: 70px;
   }
.tab_foto_1{
   position: relative;
    left: 70px;
   }


/* ========================= END CONTENT_2 / GALERY ========================*/

/* ========================== FOOTER ========================================*/

.footer{
    background-color: white;

}

h4{
    display: inline-block;
}

.footer > ul{
    display: inline-block;
}


/* ========================== END FOOTER ========================================*/





